
<div class="container">
  <form #f="ngForm" autocomplete="off"  (ngSubmit)="addBomba()">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Cadastro Da Bomba</h1>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Preco</label>
        <input pInputText name="preco" type="text" [(ngModel)]="bomba.preco"
         required currencyMask [options]="{prefix: '', thousands: '.' , decimal:',' , allowNegative: false}">
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Quantidade</label>
        <input pInputText name="quantidade" type="text" [(ngModel)]="bomba.quantidadeAtual"
         required currencyMask [options]="{prefix: '', thousands: '.' , decimal:',' , allowNegative: false}">
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Capadade</label>
        <input pInputText name="capacidade" type="text" [(ngModel)]="bomba.capacidade"
         required currencyMask [options]="{prefix: '', thousands: '.' , decimal:',' , allowNegative: false}">
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Combustivel</label>
         <p-dropdown name="combustivel" [options]="types"placeholder="Selecione" required  [(ngModel)]="bomba.combustivel">
        </p-dropdown>
      </div>

      <div class="p-col-12">
        <p>
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        </p>
      </div>
    </div>

  </form>
</div>
