<div class="container">
  <div class="p-col-12">
    <h1>Fornecedores Cadastrados</h1>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="fornecedores" responsiveLayout="stack" [breakpoint]="'768px'">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th class="col-actions-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fornecedor>
          <tr>
            <td>{{ fornecedor.nome }}</td>
            <td>{{ fornecedor.cnpj }}</td>
            <td class="col-actions">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/fornecedor', fornecedor.id]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmRemoval(fornecedor)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p><a pButton label="Novo Fornecedor" routerLink="/fornecedor/new"></a></p>
    </div>
  </div>
</div>
